body {
    background-image: url(../images/interlaced.png);
    margin-left: 370px;
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: fit-content;
    padding: 20px;
}


div {
    background-color: #ffffff;
    border-color: #dddddd;
    width: 960px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif ;

}

h2 {
    color: #4aaaa5;
}

img {
    float: left;
    padding: 20px;
}

p {
    color: #777777;
    font-size: 20px;
}