body {
    background-image: url(C:\Users\12392\Downloads\interlaced.zip);
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: fit-content;
    padding: 20px;
}

div {
    background-color: #ffffff;
    border-color: #dddddd;
    width: 960px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif ;
}

h2 {
    color: #4aaaa5;
}